.child {
    width: 300px;
    float: left;
    height: 240px;
    background: rgba(185, 185, 185, 0.2);
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    text-align: left;
    padding-left: 30px;
    display: inline-block
}

#container {
    width: 1000px;
    display: flex;
    margin-left: 250px;
    margin-right: 300px;
    justify-content: center;
}

h1 {
    margin-left: 18%;
}

.header {
    padding: 5px;
    text-align: left;
    background: #2b2d2d;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#wider-div {
    width: 1000px;
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 300px;
    background: rgba(185, 185, 185, 0.2);
    border-radius: 20px;
}

.wide-child {
    float: left;
    width: 300px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position:relative;
    top: 10px;
}

#featuresText {
    font-size: 14px;
    margin-top: -20px;
}

button {
    border: 2px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    position: relative;
    top: 90px;
}

#bank {
    background-color: #dee500;
}

#work {
    background-color: #316cf1;
}

#repay {
    background-color: #4CAF50;
}

#loanButton {
    background-color: #6de171;
}

#buyNow {
    background-color: #4c93c4;
    margin-left: 90px;
    position: relative;
    top: 50px;
}

h3 {
    text-align: center;
}

